[Unit]
Description=Nokia-IXR7220-H5-64D Platform Service
After=sysinit.target
Before=database.service determine-reboot-cause.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/h5_64d_platform_init.sh
StandardOutput=tty

[Install]
WantedBy=multi-user.target
