[Unit]
Description=Nokia-IXR7220-H6-P128 Platform Service
After=sysinit.target
Before=database.service determine-reboot-cause.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/h6_128_platform_init.sh
StandardOutput=tty

[Install]
WantedBy=multi-user.target
