[Unit]
Description=Nokia IXR-7250 Asic Thermal service

[Service]
Restart=on-failure
RestartSec=30
TimeoutStartSec=infinity
ExecStartPre=/usr/bin/sleep 180
ExecStart=/usr/bin/python3 /opt/srlinux/bin/nokia-asic-thermal.py

[Install]
WantedBy=multi-user.target
