[Unit]
Description=Nokia IXR-7250 SFP Reset Service

[Service]
Restart=on-failure
RestartSec=30
ExecStart=/usr/bin/python3 /opt/srlinux/bin/nokia-sfp-reset.py

[Install]
WantedBy=multi-user.target
