[Unit]
Description=Nokia IXR-7250 VOQ STARTUP TSA-TSB SERVICE
ConditionPathExists=!/etc/sonic/chassisdb.conf
After=updategraph.service
Requires=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/bin/voq-startup-tsa-tsb.py -t 900
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
