Source: sonic-nokia-platform-modules
Section: main
Priority: extra
Maintainer: SR Sonic <sr-sonic@nokia.com>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.3

Package: sonic-platform-nokia-chassis
Architecture: amd64
Description: placeholder for hypothetical kernel modules for platform devices

Package: sonic-platform-nokia-ixr7220d4
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as qsfp, fan, psu, led

Package: sonic-platform-nokia-ixr7220h3
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as fan, led, sfp

Package: sonic-platform-nokia-ixr7220h4-32d
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as fan, led, sfp

Package: sonic-platform-nokia-ixr7220h4-64d
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as sfp, fan, psu, led

Package: sonic-platform-nokia-ixr7220h5-64d
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as qsfp, fan, psu, led

Package: sonic-platform-nokia-ixr7220h5-32d
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as qsfp, fan, psu, led

Package: sonic-platform-nokia-ixr7220h5-64o
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as osfp, fan, psu, led

Package: sonic-platform-nokia-ixr7250x1b
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as qsfp, fan, psu, led

Package: sonic-platform-nokia-ixr7250x3b
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as fan, led, sfp

Package: sonic-platform-nokia-ixr7250x4
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as fan, led, sfp

Package: sonic-platform-nokia-ixr7220h6-64
Architecture: amd64
Depends:  ${misc:Depends}
Description: kernel modules for platform devices such as osfp, fan, led, sfp
