name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-24.04
    container: 
      image: debian:trixie
      options: --user root
    steps:
    - name: install
      run: |
        apt-get update
        apt-get install -y build-essential debhelper cmake git pkg-config \
        python3 \
        python3-pip \
        python3-setuptools \
        python3-wheel \
        python3-build \
        linux-headers-generic

    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: build
      run: |
        git config --global --add safe.directory $(pwd)
        git submodule update --init --recursive
        export KVERSION=$(find /lib/modules/ -name 6.* | awk -F '/' '{print$4}')
        export CONFIGURED_ARCH=amd64
        export KERNEL_SRC=/lib/modules/${KVERSION}
        dpkg-buildpackage -b -us -uc -tc -j$(nproc)
        
